<tbody>
  <% present(cp) do |car_park| %>
    <tr class="text-center">
      <td><%= link_to 'Book', '#' , class: 'btn btn-success'%></td>
      <td><%= car_park.title %></td>
      <td><%= car_park.address %></td>
      <td><%= car_park.user.name %></td>
      <td><%= car_park.spaces %></td>
      <td><%= car_park.parking_type %></td>
      <td><%= car_park.fee_currency_byn %></td>
    </tr>
  <% end %>
</tbody>
