<tbody>
  <% present(car_park, CarParkPresenter) do |car_park| %>
    <tr class="text-center">
      <td><%= link_to 'Book', new_ar_car_park_reservation_path(car_park), class: 'btn btn-success' %></td>
      <td><%= link_to car_park.title, ar_car_park_path(car_park) %></td>
      <td><%= car_park.address %></td>
      <td><%= car_park.user.name %></td>
      <td><%= car_park.spaces %></td>
      <td><%= car_park.parking_type %></td>
      <td><%= car_park.fee_currency_byn %></td>
    </tr>
  <% end %>
</tbody>
