<%= form_with model: car_park, url: url do |form| %>
  <%= render 'shared/errors', object: car_park %>

  <div class="form-check-inline">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-check-inline">
    <%= form.label :address, class: 'form-label' %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group my-3 col-sm-4 " >
    <%= form.label :parking_type, class: 'form-label' %>
    <%= form.select :parking_type,
                    ["Ground parking", "Truck parking", "Underground guarded parking"],
                    {},
                    {class: 'form-control', size: '2', required: true}%>
  </div>

  <div class="form-check-inline">
    <%= form.label :count_of_spaces, class: 'form-label' %>
    <%= form.number_field :spaces, class: 'form-control' %>
  </div>

  <div class="form-check-inline">
    <%= form.label :usage_fee, class: 'form-label' %>
    <%= form.text_field :usage_fee, class: 'form-control' %>
  </div>

  <div class="form-check-inline">
    <%= form.label :discount, class: 'form-label' %>
    <%= form.number_field :discount, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary my-2 btn-sm-2" %>
  </div>
<% end %>
