<%= render 'shared/errors', object: @car_park %>
<%= form_with model: car_park, url: url do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :parking_type, style: "display: block" %>
    <%= form.select :parking_type, ["Ground parking", "Truck parking", "Underground guarded parking"] %>
  </div>

  <div>
    <%= form.label :usage_fee, style: "display: block" %>
    <%= form.text_field :usage_fee %>
  </div>

  <div>
    <%= form.label :discount, style: "display: block" %>
    <%= form.number_field :discount %>
  </div>

  <div>
    <%= form.label :count_of_spaces, style: "display: block" %>
    <%= form.number_field :spaces %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
