<div class="container mt-lg-3">
  <div class="row">
    <div class="col col-md-8 ">
      <div class="row justify-content-center text-center text-wrap fs-3 fw-bold">
        <div class="col-8">
          <%= current_user.name %>'s parking
        </div>
        <div class="col-4 text-end ">
          <%= link_to "New parking", new_ar_car_park_path,
                      class: 'btn rounded bg-secondary text-warning',
                      data: { turbo_frame: dom_id(Ar::CarPark.new) } %>
        </div>
      </div>
      <%= turbo_frame_tag 'owner_car_parks' do %>
        <%= render partial: 'owner_car_park', collection: @car_parks, as: :parking %>
      <% end %>
    </div>
    <div class="container col cols-md-4 mt-3 row">
      <%= turbo_frame_tag Ar::CarPark.new %>
    </div>
  </div>
</div>
