<div class="text-center text-wrap fs-3 fw-bold">
  <%= current_user.name %>'s parking
</div>

<%= link_to "New car park", new_car_park_path,
            class: 'btn btn-success mb-1',
            data: {turbo_frame: dom_id(Ar::CarPark.new)} %>

<%= turbo_frame_tag Ar::CarPark.new %>

<table class="table table-dark table-striped table-sm">
  <%= turbo_frame_tag 'car_parks' do %>
    <% @car_parks.each do |cp| %>
      <% present(cp, CarParkPresenter) do |car_park| %>
      <tr>
        <td><%= link_to  "#{car_park.title}", '#', class: 'btn text-warning' %></td>
        <td><%= link_to 'Edit', edit_car_park_path(car_park), class: 'btn btn-sm btn-secondary' %></td>
        <td><%= link_to 'Show', car_park_path(car_park), class: 'btn btn-sm btn-primary' %></td>
        <td><%= link_to 'Delete', car_park_path(car_park), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %></td>
      </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
