<!DOCTYPE html>
<html>
  <head>
    <title>Parking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>

    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <%= render 'shared/nav' %>

          <%= render 'shared/flash' %>

          <%= yield %>
        </div>
      </div>
    </div>
    <div class="row">

    </div>

  </body>
</html>
